*{
    margin: 0px;
    padding: 0px;
}
.cont{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    background-color: rgb(183, 115, 115);
    width: 600px;
    height: 100px;
}
#Error{
   display: flex;
   justify-content: center;
   margin-top: 30px;
   color: rgb(170, 44, 44);
   font-size: 25px;
}
h1{

   text-align: center;
    padding-top: 25px;
    
}
form {
    display: flex;
    flex-direction: column;
}

input {
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
    height: 50px;
}
button{
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
    height: 50px;
    background-color: rgb(183, 115, 115) ;
}
